.index {
    .bgWrapper{
        width: 100%;
        // background: url(../../../static/bg.png) ;
        background-position: left -100px top 0 , right 20px;
        background-repeat: no-repeat;
        background: #43696947;
        margin: 20px auto 0px;
        height:500px;
        padding-bottom: 50px;
    }
    .carousel-item {
        width: 100%;
        background-position: left -100px top 0 , right 20px;
        background-repeat: no-repeat;
        margin: 20px auto 0px;
        height: 380px;
        padding-bottom: 50px;
    }
    .carousel-item1 {
        background: url(../../../static/carsour1.png) ;
    }
    .carousel-item2 {
        background: url(../../../static/carsour2.png) ;
    }
    .carousel-item3 {
        background: url(../../../static/carsour3.png) ;
    }
}